.card-content {
  min-height: 2.5rem;

  // display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin: 0.5rem 0 0;

  background: #fff;
  border-radius: 3px;
  border-bottom: 1px solid #ccc;

  position: relative;

  .card-title-container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    font-size: 15px;
    transition: background-color 0.1s;

    p {
      padding: 0.7rem 0.5rem 0.5rem;
      margin: 0;
      max-width: 90%;
      overflow: hidden;
      word-wrap: break-word;
    }

    button {
      padding: 0.5rem 0.5rem 0 0;

      background: none;
      border: none;
      cursor: pointer;

      svg {
        opacity: 0;
        transition: color 0.2s, opacity 0.2s;

        &:hover {
          color: red;
        }
      }
    }

    &:hover {
      background-color: #cecece1f;

      svg {
        opacity: 1;
      }
    }
  }

  .input-card-title {
    width: 100%;
    height: 100%;

    padding: 0.7rem 0.5rem 0.5rem;

    resize: none;
    overflow: hidden;

    border-color: transparent;
    border-radius: 3px;
    font-size: 15px;

    transition: border-color 0.2s;

    &:focus {
      border: 1px solid #e22bba;
    }
  }
}

.add-email {
  &__popup {
    height: 240px;
    width: 240px;
    background: #ffffff;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 18px;
    box-sizing: border-box;
    position: relative;
    top: 0px;
    left: 12px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .button {
      width: 100%;
      margin-top: 12px;
    }

    &-close-btn {
      position: absolute;
      right: 9px;
      top: 9px;
      cursor: pointer;
    }

    .addUser {
      margin-top: auto;
    }
  }
}

.field {
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  font-size: 14px;

  &:focus {
    border-color: #dbdbdb;
  }
}

.button {
  background: #4dd599;
  border-radius: 4px;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    background: darken(#4dd599, 6%);
  }

  &:active {
    background: darken(#4dd599, 10%);
  }

  &:disabled {
    background: #d8d8d8;
  }

  &--grey {
    background: #f4f6f8;
    color: #444444;

    &:hover {
      background: darken(#f4f6f8, 3%);
    }

    &:active {
      background: darken(#f4f6f8, 6%);
    }
  }
}

.task-title-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  button {
    padding: 8px;
    padding-top: 12px;

    background: none;
    border: none;
    cursor: pointer;

    svg {
      transition: color 0.2s, opacity 0.2s;

      &:hover {
        color: red;
      }
    }
  }
}
