@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
* {
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f2f4f8;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: block;
  color: #000000;
}

button {
  outline: none;
  border: none;
}

.pageContainer,
.offers,
.profile,
.listingDetails,
.category,
.explore {
  margin: 1rem;
}
@media (min-width: 1024px) {
  .pageContainer,
  .offers,
  .profile,
  .listingDetails,
  .category,
  .explore {
    margin: 3rem;
  }
}

// Sign In && Sign Up pages
.pageHeader {
  font-size: 2rem;
  font-weight: 800;
}

.categoryListingLink {
  color: white;
  margin-right: 20px;
}

.categoryButtonLink {
  color: white;
}

.input,
.passwordInput,
.emailInput,
.nameInput,
.textarea {
  box-shadow: rgba(0, 0, 0, 0.11);
  border: none;
  background: #ffffff;
  border-radius: 3rem;
  height: 3rem;
  width: 100%;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  padding: 0 3rem;
  font-size: 1rem;
}
@media (min-width: 1100px) {
  .input,
  .passwordInput,
  .emailInput,
  .nameInput,
  .textarea {
    padding: 0 5rem;
  }
}

.emailInput {
  margin-bottom: 2rem;
  background: url('./assets/svg/personIcon.svg') #ffffff 2.5% center no-repeat;
}

.nameInput {
  margin-bottom: 2rem;
  background: url('./assets/svg/badgeIcon.svg') #ffffff 2.5% center no-repeat;
}

.passwordInputDiv {
  position: relative;
}

.passwordInput {
  margin-bottom: 2rem;
  background: url('./assets/svg/lockIcon.svg') #ffffff 2.5% center no-repeat;
}

.showPassword {
  cursor: pointer;
  position: absolute;
  top: -4%;
  right: 1%;
  padding: 1rem;
}

.forgotPasswordLink {
  cursor: pointer;
  color: #00cc66;
  font-weight: 600;
  text-align: right;
}

.registerLink {
  margin-top: 4rem;
  color: #00cc66;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
}

.signInBar,
.signUpBar {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: inherit;
}

@media (min-width: 1024px) {
  .signInBar,
  .signUpBar {
    justify-content: start;
  }
}

.signInButton,
.signUpButton,
.signInText,
.signUpText {
  cursor: pointer;
}

.signInText,
.signUpText {
  font-size: 1.5rem;
  font-weight: 700;
}

.signInButton,
.signUpButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #00cc66;
  border-radius: 50%;
}
@media (min-width: 1024px) {
  .signInButton,
  .signUpButton {
    margin-left: 3rem;
  }
}

.profile {
  margin-bottom: 10rem;
}

.profileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pageHeader {
  font-size: 2rem;
  font-weight: 800;
}

.profileName,
.profileEmail,
.profileAddress,
.profileAddressActive,
.profileEmailActive,
.profileNameActive {
  all: unset;
  margin: 0.3rem 0;
  font-weight: 600;
  width: 100%;
}
.profileNameActive {
  background-color: rgba(44, 44, 44, 0.1);
}

.profileEmail,
.profileAddress,
.profileAddressActive,
.profileEmailActive {
  font-weight: 500;
}
.profileEmailActive {
  background-color: rgba(44, 44, 44, 0.1);
}

// *, *::before, *::after {
//   box-sizing: border-box;
//   font-family: Arial, Helvetica, sans-serif;
// }

// :root {
//   --primary-light-hsl: 200, 100%, 91%;
//   --primary-hsl: 200, 100%, 50%;
//   --primary-dark-hsl: 200, 100%, 6%;
//   --success-hsl: 100, 60%, 50%;
//   --error-hsl: 0, 60%, 50%;
// }

// body {
//   margin: 0;
// }

// .full-screen-container {
//   background-image: url("background-image.jpg");
//   height: 100vh;
//   width: 100vw;
//   background-size: cover;
//   background-position: center;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .login-container {
//   --color: hsl(var(--primary-dark-hsl), .7);
//   background-color: var(--color);
//   box-shadow: 0 0 15px 0 var(--color);
//   padding: 40px 30px;
//   width: 80%;
//   max-width: 600px;
//   border-radius: 20px;
// }

// .login-title {
//   margin: 0;
//   color: white;
//   text-align: center;
//   font-size: 2rem;
//   font-weight: normal;
// }

// .form {
//   display: flex;
//   flex-direction: column;
//   gap: 20px;
//   margin-top: 40px;
// }

// .input-group {
//   display: flex;
//   flex-direction: column;
//   gap: 7px;
// }

// .input-group label {
//   color: white;
//   font-weight: lighter;
// }

// .input-group input {
//   font-size: 1.25rem;
//   padding: .5em;
//   background-color: hsl(var(--primary-light-hsl), .3);
//   border: none;
//   outline: none;
//   border-radius: .25em;
//   color: white;
//   font-weight: lighter;
// }

// .input-group.success input {
//   box-shadow: 0 0 0 1px hsl(var(--success-hsl));
// }

// .input-group.error input {
//   box-shadow: 0 0 0 1px hsl(var(--error-hsl));
// }

// .input-group input:focus {
//   box-shadow: 0 0 0 1px hsl(var(--primary-hsl));
// }

// .input-group .msg {
//   display: none;
//   font-size: .75rem;
// }

// .input-group.success .msg,
// .input-group.error .msg {
//   display: block;
// }

// .input-group.error .msg {
//   color: hsl(var(--error-hsl));
// }

// .input-group.success .msg {
//   color: hsl(var(--success-hsl));
// }

// .login-button {
//   padding: .5em 1em;
//   font-size: 1.5rem;
//   font-weight: lighter;
//   color: white;
//   background-color: hsl(var(--primary-hsl), .25);
//   border: 1px solid hsl(var(--primary-hsl));
//   border-radius: .25em;
//   outline: none;
//   cursor: pointer;
// }

// .login-button:hover,
// .login-button:focus {
//   background-color: hsl(var(--primary-hsl), .4);
// }
