.user {
  display: flex;
  align-items: center;

  svg {
    width: 16px;
    min-width: 16px;
    margin-left: 10px;
    height: 22px;
    font-size: 1rem;
    color: steelblue;
    cursor: pointer;
  }

  svg:focus,
  svg:hover {
    color: red;
    outline: none;
  }
}
